<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>⌥</string>
		<key>shortcut</key>
		<string>\\alt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>&#xF8FF;</string>
		<key>shortcut</key>
		<string>\\apple</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌫</string>
		<key>shortcut</key>
		<string>\\backspace</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌦</string>
		<key>shortcut</key>
		<string>\\canc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✓</string>
		<key>shortcut</key>
		<string>\\check</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌘</string>
		<key>shortcut</key>
		<string>\\cmd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌃</string>
		<key>shortcut</key>
		<string>\\ctrl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↵</string>
		<key>shortcut</key>
		<string>\\enter</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⎋</string>
		<key>shortcut</key>
		<string>\\esc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≡</string>
		<key>shortcut</key>
		<string>\\hamburger</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∞</string>
		<key>shortcut</key>
		<string>\\inf</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊞</string>
		<key>shortcut</key>
		<string>\\microsoft</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♪</string>
		<key>shortcut</key>
		<string>\\note</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌥</string>
		<key>shortcut</key>
		<string>\\opt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ə</string>
		<key>shortcut</key>
		<string>\\schwa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇧</string>
		<key>shortcut</key>
		<string>\\shift</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>␣</string>
		<key>shortcut</key>
		<string>\\spacebar</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>★</string>
		<key>shortcut</key>
		<string>\\star</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>天</string>
		<key>shortcut</key>
		<string>\\ten</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>×</string>
		<key>shortcut</key>
		<string>\\x</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>-&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>&lt;-</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>❤️</string>
		<key>shortcut</key>
		<string>&lt;3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>²</string>
		<key>shortcut</key>
		<string>^2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>³</string>
		<key>shortcut</key>
		<string>^3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↑</string>
		<key>shortcut</key>
		<string>|^</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↓</string>
		<key>shortcut</key>
		<string>|v</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↓</string>
		<key>shortcut</key>
		<string>àà</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↑</string>
		<key>shortcut</key>
		<string>èè</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>òò</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↔</string>
		<key>shortcut</key>
		<string>òùòù</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>ùù</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👋🏻</string>
		<key>shortcut</key>
		<string>\\bye</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🔥</string>
		<key>shortcut</key>
		<string>\\fire</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤝🏻</string>
		<key>shortcut</key>
		<string>\\hands</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤌🏻</string>
		<key>shortcut</key>
		<string>\\what</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🅰️🅾️</string>
		<key>shortcut</key>
		<string>aaoo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✨</string>
		<key>shortcut</key>
		<string>ìì</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤔</string>
		<key>shortcut</key>
		<string>mmmh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>R.I.P.</string>
		<key>shortcut</key>
		<string>.rip</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Aulë</string>
		<key>shortcut</key>
		<string>Aule</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Chișinău</string>
		<key>shortcut</key>
		<string>Chisinau</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>comunque</string>
		<key>shortcut</key>
		<string>cmq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>È</string>
		<key>shortcut</key>
		<string>E'</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Eärendil</string>
		<key>shortcut</key>
		<string>Earendil</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Erdoğan</string>
		<key>shortcut</key>
		<string>Erdogan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Fær Øer</string>
		<key>shortcut</key>
		<string>faeroer</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Fëanor</string>
		<key>shortcut</key>
		<string>Feanor</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Helcaraxë</string>
		<key>shortcut</key>
		<string>Helcaraxe</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>&#x2014;&#x2014;</string>
		<key>shortcut</key>
		<string>hhhh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Lúthien</string>
		<key>shortcut</key>
		<string>Luthien</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Manwë</string>
		<key>shortcut</key>
		<string>Manwe</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>númenóreana</string>
		<key>shortcut</key>
		<string>numenoreana</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>númenóreane</string>
		<key>shortcut</key>
		<string>numenoreane</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>númenóreani</string>
		<key>shortcut</key>
		<string>numenoreani</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>númenóreano</string>
		<key>shortcut</key>
		<string>numenoreano</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Oromë</string>
		<key>shortcut</key>
		<string>Orome</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>perché</string>
		<key>shortcut</key>
		<string>perchè</string>
	</dict>
</array>
</plist>
